/* GENERAL */
	html {

	}
	body {
		margin: 0;
		padding: 0;
		min-width:1000px;
	}		
	#all_container {

	}
	* {
		color:white;
	}
	ul,li {
		padding:0;
		margin:0;
	}
	ul {
		list-style:none;
	}		
	
/* TOP */
	#top {
		height:250px;
		border-bottom:1px solid #cccccc;
		background-color:#353535;
	}		
	#menu_container {
		margin:20px;
		width:160px;
		position:absolute;
		top:0;
		left:360px;
	}		
	#logo_container {
		width:300px;
		margin:10px 30px;
		position:absolute;
		top:0;
		left:0;
		}
	img#logo {
		border:0;
		width:300px;
		height:165px;
	}		
	#player_container {
		width:500px;
		position:absolute;
		top:0;
		right:0;
		height:250px;
		background-color:#555555;
		border-left:1px solid #cccccc;

		}	
	img#player {
		/*position:fixed;*/
		border:0;
		width:500px;
		height:250px;
	}
	
/* MAIN */
	#main {
		padding: 0px;
	}
	
	/* LEFT SIDEBAR */
		#sidebar_left {
			width:350px;
			position:absolute;
			overflow:auto;
			white-space:nowrap;
			padding:20px;
		}		
		.playlist_song_info li {
			display:inline;
		}			
	
	/* MAIN CONTAINER */
		#main_container {
			position:absolute;
			margin-left:390px;
			margin-right:390px;
			padding:20px;
		}
	
	/* RIGHT SIDEBAR */
		#sidebar_right{
			position:absolute;
			right:0;
			width:350px;
			white-space:nowrap;	
			border-left:1px solid #cccccc;
			padding:20px;
		}
		#active_playlists_container {
			height:100%;
			overflow:auto;	
		}	
		#active_playlists {
		}
		.active_playlist_song_info li {
			display:inline;
		}
		#active_playlists_buttons_container {
			padding-top: 10px;

		}
		#active_playlists_buttons_container li {
			display:inline;
		}
	
/* BOTTOM */
	#bottom {
		clear:both;
	}