/* GENERAL */
	html {
		height: 100%;
	}
	body {
		margin: 0;
		padding: 0;
		height: 100%;
	}		
	#all_container {
		height:100%;
	}
	* {
		color:white;
	}
	ul,li {
		padding:0;
		margin:0;
	}
	ul {
		list-style:none;
	}		
	
/* TOP */
	#top {
		height:250px;
	}		
	#menu_container {
		margin:20px;
		width:160px;
		float:left;
	}		
	#logo_container {
		width:300px;
		float:left;
		margin:10px 30px;
		}
	img#logo {
		border:0;
		width:300px;
		height:165px;

	}		
	#player_container {
		float:right;
		width:500px;
		}	
	img#player {
		/*position:fixed;*/
		border:0;
		width:500px;
		height:250px;
	}
	
/* MAIN */
	#main {
		padding: 10px;
		float:left;
		height:-moz-calc(100% - 275px);
	}
	
	/* LEFT SIDEBAR */
		#sidebar_left {
			float:left;
			min-width:255px;
			width:24%;
			overflow:auto;
			white-space:nowrap;
		}		
		.playlist_song_info li {
			display:inline;
		}			
	
	/* MAIN CONTAINER */
		#main_container {
			float:left;
			min-width:410px;
			padding:0 30px;
			width:45%;
		}
	
	/* RIGHT SIDEBAR */
		#sidebar_right{
			float:right;
			min-width:255px;
			width:24%;
			white-space:nowrap;	
			height:-moz-calc(100% - 35px);
			border-left:1px solid #cccccc;
			border-top:1px solid #cccccc;
			padding:10px;
		}
		#active_playlists_container {
			height:100%;
			overflow:auto;	
		}	
		#active_playlists {
		}
		.active_playlist_song_info li {
			display:inline;
		}
		#active_playlists_buttons_container {
			padding-top: 10px;
			float:left;
		}
		#active_playlists_buttons_container li {
			display:inline;
		}
	
/* BOTTOM */
	#bottom {
		clear:both;
	}